

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <ul class="pack-list">
      <h1>Packing list</h1>
      <li class="pack-list__item">
        <div class="pack-list__checkbox"></div>
        <input class="pack-list__input" type="text">
        <span class="pack-list__label">Clothes</span>
        <span class="pack-list__edit glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <span class="pack-list__delete glyphicon glyphicon-trash" aria-hidden="true"></span>
      </li>
      <li class="pack-list__item">
        <div class="pack-list__checkbox"></div>
        <input class="pack-list__input" type="text">
        <span class="pack-list__label">Wallets</span>
        <span class="pack-list__edit glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <span class="pack-list__delete glyphicon glyphicon-trash" aria-hidden="true"></span>
      </li>
    </ul>

    <div class="btn btn-primary">Add item</div>
  </div>


</div>