

<div class="container" id="pack_list">
  <div class="col-md-8 col-md-offset-2">
    <h1>Packing list</h1>
    <ul class="pack-list">
    </ul>

    <div class="btn btn-primary js-add-item">Add item</div>
  </div>


</div>