<div class="nav">
  <div class="container">
    <h3 class="nav__title">Jetprep</h3>
    
    <div class="nav__links">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: 'nav__link' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'nav__link' %>
      <% end %>
    </div>
  </div>
</div>
