
<div class="container" id="safety_status">
  <div class="col-md-8 col-md-offset-2">
    <h1>Safety status</h1>
    <p>
      <%= @selectedCountry %>
    </p>
    <p>
      <%= @selectedCountryStatus %>
    </p>


  </div>


</div>